DOCTYPE
html(lang="en")
    head
        include includes/head.pug
        script(src="index.js" defer)
    body
        div.ui.container
            div.ui.raised.very.padded.text.container.segment
                form.ui.form(action="/room", method="post")
                    label(for="room") Room
                    input(type="text" id="room" name="room")
                    button.ui.button(type="submit") Join room

                    //- div.ui.vertical.menu#videoOptions
                    br
                    br
                
                    div.ui.form
                        div.grouped.fields#videoOptions
                            label Video