DOCTYPE
html(lang="en")
    head
        include includes/head.pug
        script.
            const ROOM_ID = "#{roomId}"
            const USER_ID = "#{userId}"
            const DEFAULT_VIDEO = "#{video}"
        script(src="/socket.io/socket.io.js" defer)
        script(src="/room.js" defer)

    body
        div.ui.container
            div.ui.raised.very.padded.text.container.segment
                h1 Room #{roomId}
                div#video-grid

            div.ui.raised.very.padded.text.container.segment
                div.ui.list.segment#message-board

                form.ui.form#message-board-form
                    label#isTyping
                    div.ui.fluid.action.input
                        input#your-message(type="text")
                        button.ui.button
                            i.send.icon
                        
                br
                div.ui.toggle.checkbox
                    input#useWebRTC(type="checkbox" checked="checked")
                    label Message with WebRTC
                br
                br
                form.ui.form(action="/")
                    button.ui.button(type="submit" value="Home") Home
                form.ui.form(action="/logout?_method=DELETE" method="POST")
                    button.ui.button(type="submit") Logout